{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}


{% block jumbotron %}
 {% if not request.user.is_authenticated %}


 <div class="container">
	<div class="row">
		<div class='col-sm-12 jumbotron'>
		<h1>Welcome to Whitney's Wine Shop</h1>
		<p>Have fun finding your favorite wines from around the world with the click of a button</p>
		<p>
		<a class="btn btn-lg btn-primary" href="" role="button">shop now &raquo;</a>
		</p>
		</div>


 	</div>
</div>


 {% endif %}
{% endblock %}




{% block content %}
 {% if request.user.is_authenticated %}
<h1>You are logged in!</h1>

	{% if queryset %}
	<h2>Welcome Staff</h2>
	<table class='table'>
	{% for instance in queryset %}
		<tr><td>{{ forloop.counter }}</td><td>{{ instance.email }}</td><td>{{ instance.full_name }}</td><td>{{ instance.timestamp|timesince }} ago</td></tr>
		{% if instance.email == "abc@gmail.edu" %}
		<tr><td>is equal</td></tr>
		{% endif %}
	{% endfor %}
	</table>

	{% endif %}


 <!-- main page bottom categories -->
 {% else %}
<div class='container'>
	<div class='col-sm-4'>
	<p class='lead text-align-center'>Old World Wines </p>
	<img src='{% static "img/bottle-closeup.jpg" %}' class='img-responsive main-categories' />
	</div>

	<div class='col-sm-4'>
	<p class='lead text-align-center'>New World Wines </p>
	<img src='{% static "img/vineyard-usa.jpg" %}' class='img-responsive main-categories' />
	</div>

	<div class='col-sm-4'>
	<p class='lead text-align-center'>Fresh Finds </p>
	<img src='{% static "img/wine-on-ice.jpg" %}' class='img-responsive main-categories' />
	</div>
</div>





{% endif %}

{% endblock %}


