.text-align-center {
	text-align: center;
}


.og-price {
  color: red;
  text-decoration: line-through;
}

.navbar-static-top {
  margin-bottom: 0px !important;
}

#white-text {
  color: white;
}

.jumbotron {
  position: relative;
  background: url('../img/corks-background.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  color: white;
  margin-top: 10px;
}


.main-categories {
  max-height: 221px;
  /*max-width: 340px;*/
  margin: auto;
}

.fa-navbar-cart {
  vertical-align: middle;
  font-size: 18px;

}

